doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/slick.min.js')
    script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='../js/modernizr.custom.68172.js')
    script(type='text/javascript', src='../js/respond.js')
  body
    header
        .publicidad
            .container
                .row
                    .col-md-12
                        .img-top
                            img(src="../image/banner_top.jpg")
                .row
                    .col-md-6
                        ul
                            li LIBERO.PE
                            li EL POPULAR.PE
                            li FUNDACION GUSTAVO MOHME LLANA
                    .col-md-6.text-left
                        ul.list-unstyled.list-inline
                            li
                                a(href="#") SUSCRIBETE AL BOLETIN
                            li.pad-right-10.inline
                                a.deconon(href="#")
                                    img(src="../image/social_sprite1.png")
                            li.pad-right-10.inline
                                a.deconon(href="")
                                    img(src="../image/social_sprite_022.png")
                            li
                                a.deconon.negro.buscar(href="") BUSCAR
                                    i.text18.negro.ion-android-search
    content
        .encabezado
            .container
                .row
                    .col-md-5
                        img(src="../image/logo-la-republica.jpg")
                    .col-md-3
                        .texto-arriba
                            p ESPECIAL DEL FUTBOL
                            p TODO SOBRE LA CHAMPIONS LEAGUE
                    .col-md-4
                        .texto-abajo
                            img(src="../image/img_editorial_text.jpg")
                            p La corrupcion, los origenes
                            p por: Gustavo Mohme Llana
                            img(src="../image/img_author.jpg")
        .menu
            .container
                .row
                    .col-md-12
                        nav
                            ul
                                li
                                    a(href="#") POLÍTICA
                                li
                                    a(href="#") ECONOMIA
                                li
                                    a(href="#") SOCIEDAD
                                li
                                    a(href="#") ELEC. REGIONALES
                                li
                                    a(href="#") DEPORTES
                                li
                                    a(href="#") CHAMPIONS L.
                                li
                                    a(href="#") ESPECTACULOS
                                li
                                    a(href="#") ED. IMPRESA
                                li
                                    a(href="#") REGIONALES
                                li
                                    a(href="#") MAS SECCIONES           
        .principal
            .container
                .row
                    .col-md-2
                        .publicidad.izquierda
                            img(src="../image/banner_aside.jpg")
                    .col-md-8
                        .container
                            .row
                                .tematica
                                    .tema TEMAS DEL DIA
                                    ul
                                        li
                                            a(href="#")
                                                i.ion-ios-arrow-back
                                        li
                                            a(href="#") Globos de Oro
                                        li
                                            a(href="#") Youtube
                                        li
                                            a(href="#") PNP
                                        li
                                            a(href="#") Charlie Hebbo
                                        li
                                            a(href="#") FC Barcelona
                                        li
                                            a(href="#") Alianza Lima
                                        li
                                            a(href="#") Balon de Oro
                                        li
                                            a(href="#") Alianza Lima
                                        li
                                            a(href="#") Municipio
                                        li
                                            a(href="#")
                                                ii.ion-ios-arrow-forward
                                .maestrias
                                    img(src="../image/banner-header.jpg")
                                .titular GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                                .iconos-titular
                                    ul.list-unstyled.list-inline
                                        li.inline
                                            img(src="../image/social_sprite1.png")
                                        li.inline
                                            .point.inline.posicion &#8226;
                                            .text12.inline Hace 12 minutos
                                            .point.inline.posicion &#8226;
                                            .text12.inline POLÍTICA
                                .informacion
                                    .col-md-6
                                        img.img-responsive(src="../image/img_grid_principal.jpg")
                                        .text1 JNE impulsará campaña en favor de la aprobación de la Reforma Electoral
                                    .col-md-6
                                        ul
                                            li
                                                img.img-responsive(src="../image/img_grid_secundario.jpg")
                                                .text2 Martin Belaunde Lossio: Emrpesas vinculadas al empresario contratron por S/. 3000 millones &#124; FOTOS
                                            li
                                                img.img-responsive(src="../image/img_grid_secundario.jpg")
                                                .text2 Sub 20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final del Sudamericano &#124; VIDEO
                   .col-md-2
                        .publicidad.derecha
                            img(src="../image/banner_aside.jpg")
        .contenido
            .container
                .row
                    .col-md-2
                    .col-md-8
                        .columnistas
                            hr
                            p COLUMNISTAS
                            .slider-columnistas
                            mixin columnistas(imagen, nombre, texto)

                                .columnista1
                                    img( src=imagen)
                                    p= nombre
                                    p= texto
                                
                            +columnistas("../image/img-columnistas.jpg", "Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            +columnistas("../image/img_blogueros.jpg", "Augusto Álvarez Rodrich", "Respuesta a una derrota estridente")
                            +columnistas("../image/img-columnistas.jpg", "Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            +columnistas("../image/img_blogueros.jpg", "Augusto Álvarez Rodrich", "Respuesta a una derrota estridente")
                            +columnistas("../image/img-columnistas.jpg", "Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            +columnistas("../image/img_blogueros.jpg", "Augusto Álvarez Rodrich", "Respuesta a una derrota estridente")
           
                        .primicias
                            .col-md-4
                                ul
                                    li
                                        .primicia1
                                            .primicia-title
                                                p Mercado Pases 2015
                                            img(src="../image/img_especiales.jpg")
                                            .primicia-texto
                                                p Mercado de Pases 2015: altas, bajas y rumores de los equipos peruanos.
                                            .primicia-footer
                                                p Todo sobre
                                                    b Mercado de pases 2015
                                    li
                                        .primicia2
                                            .primicia-title
                                                p Champions League
                                            img(src="../image/img_especiales_aside.jpg")
                                            .primicia-texto
                                                p ¿Podrá el Real Madrid conseguir la Undécima?
                                            .primicia-footer
                                                p Todo sobre
                                                    b Champions League
                            .col-md-4
                                ul
                                    li
                                        .primicia1
                                            .primicia-title
                                                p Régimen Laboral Juvenil
                                            img(src="../image/img_especiales_aside.jpg")
                                            .primicia-texto
                                                p Ollanta Humala: los que han perdido son 2 millones de jóvenes
                                            .primicia-footer
                                                p Todo sobre
                                                    b Régimen Laboral Juvenil
                                    li
                                        .primicia2
                                            .primicia-title
                                                p Super Bowl
                                            img(src="../image/img_especiales.jpg")
                                            .primicia-texto
                                                p Super Bowl XLIX: New England Patriots se consagró campeón
                                            .primicia-footer
                                                p Todo sobre
                                                    b Super Bowl
                            .col-md-4
                                .banner-lateral
                                    img.img-responsive(src="../image/banner-aside-home.jpg")
                        .ultimas-noticias
                            .col.md-8
                                h3 ULTIMAS NOTICIAS
                                    | 
                                    img(src="../image/double-arrow-bottom.png")

                                mixin noticias(tiempo, titulo, foto, parrafo, comentario, categoria)
                                    .row
                                        p=tiempo
                                        h4=titulo
                                        .col-md-4
                                            img.imagen-noticia(src=foto)
                                        .col-md-8
                                            p=parrafo
                                            img(src="../image/social_sprite1.png")
                                            img.pad-riglef-8(src="../image/bullet.gif")
                                            img.pad-riglef-8(src="../image/ico_comment.png")
                                            p.inline= comenta
                                            img.pad-riglef-8(src="../image/bullet.gif")
                                            p.inline= categoria
                                    .row
                                        hr
                                +noticias('Hace 1 hora 12 mins', 'Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', '../image/thumb-post-image.jpg', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '10','REGIONAL')
                                +noticias('Hace 1 hora 12 mins', 'Emma Watson protagonizará La bella y la bestia | VIDEO', '../image/img_news_grid.jpg' , ' La actriz Emma Watson fue confirmada por Disney como la protagonista de &apos;La bella y la bestia&apos; en la version de carne y hueso.','15','ESPECTÁCULOS')
                                +noticias('Hace 1 hora 12 mins', 'Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', '../image/thumb-post-image.jpg', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '10','REGIONAL')
                                +noticias('Hace 1 hora 12 mins', 'Emma Watson protagonizará La bella y la bestia | VIDEO', '../image/img_news_grid.jpg' , ' La actriz Emma Watson fue confirmada por Disney como la protagonista de &apos;La bella y la bestia&apos; en la version de carne y hueso.','15','ESPECTÁCULOS')
                                +noticias('Hace 1 hora 12 mins', 'Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', '../image/thumb-post-image.jpg', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '10','REGIONAL')
                                +noticias('Hace 1 hora 12 mins', 'Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', '../image/thumb-post-image.jpg', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '10','REGIONAL')
                                +noticias('Hace 1 hora 12 mins', 'Emma Watson protagonizará La bella y la bestia | VIDEO', '../image/img_news_grid.jpg' , ' La actriz Emma Watson fue confirmada por Disney como la protagonista de &apos;La bella y la bestia&apos; en la version de carne y hueso.','15','ESPECTÁCULOS')
                                +noticias('Hace 1 hora 12 mins', 'Roque Benavides respalda proyecto Tía María y espera que Conga se socialice', '../image/thumb-post-image.jpg', 'Zenaida Condori Contreras Arequipa Para el presidente de la Compañía de Minas Buenaventura, Roque Benavides, el proyecto Tía María, que promueve Southern Perú, ya debe...', '10','REGIONAL')
                                


                            .col-md-4.lateral-derecha
                                .row.suscribete
                                    img.icono(src='../image/img_sucribe.png')
                                    h3 Suscríbete a nuestro boletín
                                    input(type="text")
                                    br
                                    button SUSCRIBIRSE
                                .row.borde
                                .row.aweita
                                    img.logo_aweita(src="../image/logo_aweita.jpg")
                                    mixin aweita(imagen, texto)
                                        .row
                                            .col-md-5
                                                img(src=imagen)
                                            .col-md-7
                                                p=texto
                                    +aweita('../image/img_aweita.jpg', 'Juan Roman Riquelme ; al último 10 de Argentina')
                                    +aweita('../image/img_aweita.jpg', '¨Lewis Carrol: un dia como hoy nacio el autor de Alicia en el ...')
                                    +aweita('../image/img_aweita.jpg', 'Juan Roman Riquelme ; al último 10 de Argentina')
                                    +aweita('../image/img_aweita.jpg', '¨Lewis Carrol: un dia como hoy nacio el autor de Alicia en el ...')
                                    p.text-center Más en
                                        a Aweita.pe
                                .row.borde
                                .row.destacadas
                                    p FOTOS DESTACADAS
                                    img(src="../image/img_fotodes_prominent.jpg") 
                                    p Lineas de Nasca: admiten prisión preventiva de 6 meses para activista de Greenpeace | FOTOS   
                                    mixin destacadas(imagen, texto)
                                        .row
                                            .col-md-4
                                                img(src=imagen)
                                            .col-md-8
                                                p=texto
                                    +destacadas("../image/img_fotodes.jpg", "Uchuraccay: El pueblo que recibe con flores a quienes llegan de pie| FOTOS")
                                    +destacadas("../image/img_fotodes.jpg", "Uchuraccay: El pueblo que recibe con flores a quienes llegan de pie| FOTOS")
                                    +destacadas("../image/img_fotodes.jpg", "Uchuraccay: El pueblo que recibe con flores a quienes llegan de pie| FOTOS")
                                .row.borde
                                    hr
                                .row.especiales
                                    p ESPECIALES
                                    mixin especiales(imagen, texto)
                                        img(src=imagen)
                                        p=texto
                                    +especiales("../image/img_especiales_aside.jpg", "Regimen Laboral Juvenil")
                                    +especiales("../image/img_especiales_aside.jpg", "COP20")
                                    +especiales("../image/img_especiales_aside.jpg", "Concentracion de Medios")
                                    +especiales("../image/img_especiales_aside.jpg", "Especies peruana en peligro de extincion")
                                .row.borde
                                    hr
                                .row.borde.rojo
                                .row.caricaturas
                                    p.text-center CARLINCATURA DEL DIA
                                    p.text-center.text-bold Carlincaturas 30-01-2015
                                    img.rojimg(src="../image/img_carlincatura_sd.jpg")
                                    p.text-bold.text-center Todas las carlincaturas
                                .row.borde
                                    hr
                                .row.borde
                                .row.nuestros-blogueros
                                    p.text-center NUESTROS BLOGUEROS
                                    mixin blogueros
                                        .row
                                            .col-md-3
                                                img(src="../image/img_blogueros.jpg")
                                            .col-md-9
                                                p Augusto Alvarez Rodrich
                                                p Charlie Hebdo, historia que no debe repetirse
                                    +blogueros
                                    +blogueros





                    .col-md-2
